body {
    margin: 0;
    background-color: black;
}

#Encabezado {
    text-align: center;
    color: white;
    font-family: 'Agency FB';
}

#Titulo
{
    text-align:center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.Texto {
    text-align: center;
    color: white;
    font-family: 'Arial Rounded MT';
}

p.Link {
    text-align: center;
    font-family: 'Arial Rounded MT';
    color: orange;
}

.container {
    width: 800px;
    margin: 0 auto;
}